# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Application files #
#####################
*.vs


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Python   #
############
# Ignore the environment files
python/jinja_sql_app/my_env
python/jinja_and_json/my_env
python/api_requests/my_env
